{% extends "layout.html" %}

{% block title %}
myTweet
{% endblock %}

{% block content %}

<h2 class="text-center mt-4">Welcome to Tweet Page</h2>
<a class="btn btn-primary mb-4" href="{% url 'tweet_create' %}">Create Tweet</a>

<div class="container">
  <div class="row row-cols-1 row-cols-md-3 g-3">  <!-- Bootstrap grid for row-wise layout -->
    {% for tweet in tweets %}
    <div class="col"> <!-- Each tweet occupies one column -->
      <div class="card h-100"> <!-- Cards have equal height -->
        {% if tweet.photo %}
        <img src="{{ tweet.photo.url }}" class="card-img-top" alt="Tweet Image">
        {% endif %}
        <div class="card-body">
          <h5 class="card-title">{{ tweet.user.username }}</h5>
          <p class="card-text">{{ tweet.text }}</p>
        </div>
        <div class="card-footer d-flex justify-content-between"> <!-- Footer for buttons -->
          {% if tweet.user == user%}
          <a href="{% url 'tweet_edit' tweet.id %}" class="btn btn-primary btn-sm">Edit</a>
          <a href="{% url 'tweet_delete' tweet.id %}" class="btn btn-danger btn-sm">Delete</a>

          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
